#cities{
	width: 100vw;
	height: 100%;
	background-color: #f6f6f6;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 999;
	position: fixed;
	overflow-y: scroll; 

	/* position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: plum; */      /* 定一屏大小 */
}
header{
	width: 100%;
	height: 1.29rem;
	background-color: white;
	padding: 0 0.29rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.search{
	width: 9.03rem;
	height: 0.87rem;
	background-color: #e2e2e2;
	border: 0;
	border-radius: 0.2rem;
	padding-left: 0.2rem;
	outline: none;    /* 设置外边框 */
}
.btn{
	font-size: 0.42rem;
	color: #7DADFF;
}
.cities_rm{
	width: 100%;
	padding-left: 0.29rem;
}
.rmcs{
	font-size: 0.45rem;
	color: #999999;
	padding-top: 0.13rem;
}
.rmcs_box{
	width: 77.7%;
	margin-top: 0.2rem;
	display: flex;
	flex-wrap: wrap;
}
.rmcs_box1{
	width: 2.31rem;
	height: 0.81rem;
	background-color: #fff;
	border-radius: 0.2rem;
	border: 0.03rem solid #E0E0E0;
	font-size: 0.4rem;
	text-align: center;
	line-height: 0.81rem;
	flex-shrink: 0;
}
.rmcs_box2{
	margin-left: 0.39rem;
}
.rmcs_box3{
	margin-top: 0.39rem;
}
.cities_rm1{
	margin-top: 0.56rem;
}
